
<div class = "page-title"> <h2> PLEASE LOGIN <h2> </div>
<div class = "col-md-6 col-md-offset-3">
  <div class = "row">
    <%= form_for(:session, :url => login_path) do |f|%>
      <%= f.label :email%>
      <%= f.email_field :email, :class => "form-control"%>
    
      <%= f.label :password%>
      <%= f.password_field :password, :class => "form-control"%>

      <%= f.submit "Log in", :class => "btn btn-primary"%>
    <%end%>
  </div>
</div>