<% # This should display all the products that the user chooses%>

<span> <h3> You have to pay: <%=@total_price.to_s%> </h3> </span>

<br/>
<%=link_to "Pay by One Click", nil, style: "color:white", class: "btn btn-primary btn-sm" %>
<%=link_to "Back", user_products_path(@user) + "?from_product_bases=true", style: "color:white", class: "btn btn-primary btn-sm" %>
<br/>

<h2> Order Detail: </h2>
<table>
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Product's total price</th>
    </tr>
  </thead>
  <%@products.each do |product|%>
    <tr>
      <th><%=label_tag("Code",product.product_code)%></th>
      <th><%=label_tag("Name",product.name)%></th>
      <th><%=label_tag("Price",product.get_price)%></th>
      <th><%=label_tag("Quantity",product.quantity)%></th>
      <th><%=label_tag("Total price",product.quantity * product.get_price)%></th>
    </tr>
  <%end%>
</table>


