<h1> List of Products to buy</h1>
<h1>Products</h1>
<%# Create a hidden field to send an ajax request to the server%>

<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Details</th>
      <th>Quantity</th>
      <th>Add to basket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product|%>
      <tr>
        <th> <%= label_tag("Code", product.product_code, {:id => "product_code"}) %></th>
        <th> <%= label_tag("Name", product.name, {:id => "product_name"}) %></th>
        <th> <%= label_tag("Price", product.price, {:id => "product_price"}) %></th>
        <th> <%= link_to '<button type = "button"> Detail </button>'.html_safe, product_path(product)%> </th>
        <th> <%= text_field_tag("Quantity", nil, placeholder: "How many?", :id => "product_quantity") %>
        <th> <%= button_tag("Add to basket",{:id=>"product_code",:value => product.product_code,:onclick => "update_answers()"})%>
      </tr> 
    <%end%>
  </tbody>
</table>
<%=link_to '<button type = "button"> Back </button>'.html_safe, user_path(@user)%>

<script type = "text/javascript"> 
  // Get the list of products ids and quantities from the hidden fields and add them to it 
  let update_answers = function() {
    console.log("Hello World");
    product_id = document.getElementById("product_id").value;
    product_quantity = document.getElementById("product_quantity").value;
    console.log(product_quantity);
    makeRequest(product_id, product_quantity);
  }

  function makeRequest(product_id, product_quantity) {
    // Create a new xHTTPRequest here
    send_data = JSON.stringfy({product_code: product_code, product_quantity: product_quantity});
    httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function() {
      if (httpRequest.status == 200) {
        console.log("Successful");
      }
    }
    httpRequest.open('GET', "/users/<%@user.id%>/products/#{product_id}/#{%>)
    httpRequest.send(send_data);
  }
</script>
