<%= form_for(@user, method: :get, url: user_path) do |f|%>

  <%= f.label "Email Address"%>
  <%= f.email_field :email %>

  <%= f.label "Password"%>
  <%= f.password_field :password %>

  <%= f.submit "Log In", class: "btn btn-primary" %>

<%end%>