<h1> New User</h1>

<%= form_for @user, :method => :post  do |f| %>
  <%= f.label "Full Name"%>
  <%= f.text_field :name %>

  <%= f.label "Email Address"%>
  <%= f.email_field :email %>

  <%= f.label "Password"%>
  <%= f.password_field :password %>

  <%= f.label "Password Confirmation"%>
  <%= f.password_field :password_confirmation %>
  <br/>
  <%= f.submit "Create My Account", class: "btn btn-primary" %>
<%end%>
<br/>
<%= button_to "Back", root_path, method: :get, class: "btn btn-primary" %>