<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product|%>
      <tr>
        <th> <%= label_tag("Code", product.product_code) %></th>
        <th> <%= label_tag("Name", product.name) %></th>
        <th> <%= label_tag("Price", product.price) %></th>
        <th> <%= label_tag("Quantity", product.quantity) %></th>
        <th> <%= link_to("Detail", "/users/#{@user.id}/products/#{product.id}", style: "color:white", class: "btn btn-sm btn-primary")%></th>
        <th> <%= link_to("Remove Order", "/products/#{product.id}", method: 'DELETE', style: "color:white", class: "btn btn-sm btn-primary")%></th>
      </tr> 
    <%end%>
  </tbody>
</table>
<%if @redirect_from_product_bases == "true"%>
  <%= link_to "Back", user_product_bases_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<%else%>
  <%= link_to "Back", user_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<%end%>
<%=link_to "Check Out", user_checkout_path(@user), style: "color:white", class: "btn btn-sm btn-primary"%>