<%= @controller_name%>
<%= @action_name%>
<p id="notice"><%= notice %></p>
<%= gravatar_for @user%>
<% @user.name %>

<p>
  <strong>User_id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%=link_to "Edit Profile", edit_user_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<%=link_to "View Basket", user_products_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<%=link_to "Start Shopping", user_product_bases_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<% if @user_has_role_admin%>
  <%=link_to "Manage Product Bases", user_manage_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<%end%>