<%= form_with(model: product_base, url: user_product_bases_path, method: :put, local: true) do |form| %>
  <% if product_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_base.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% product_base.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= form.label "name" %>
    <%= form.text_field :name %>
  </span>

  <span class="field">
    <%= form.label "Product Code" %>
    <%= form.text_field :product_code %>
  </span>

  <span class="field">
    <%= form.label "Quantity In Store" %>
    <%= form.text_field :quantity_in_store %>
  </span>
  <br/>
  <br/>
  <span class="actions">
    <%= form.submit class: "btn btn-primary btn-sm"  %>
  </div>
<% end %>
