<div class = "product-base-page">
<h1> Products list </h1>
<table id = "product-base-table">
  <thead>
    <tr style="outline: solid">
      <th>Product code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Details</th>
      <% if !@from_home_page%>
        <th>Quantity</th>
        <th>Add to basket</th>
      <% end %>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>

    <% @product_bases.each do |product_base|%>
      <tr>
        <th> <%= label_tag("Product Code", product_base.product_code, {:id => "product_code"}) %></th>
        <th> <%= label_tag("Name", product_base.name, {:id => "product_name"}) %></th>
        <th> <%= label_tag("Price", product_base.price, {:id => "product_price"}) %></th>
        <% if @from_home_page%>
          <th> <%= link_to "Details",product_basis_path(product_base), style: "color:white", class: "btn btn-primary btn-sm" %> </th>
        <% else %>
          <th> <%= link_to "Details","/users/#{@user.id}/product_bases/#{product_base.id}", style: "color:white", class: "btn btn-primary btn-sm" %> </th>
          <th> <%= text_field_tag(product_base.product_code, nil,  placeholder: "How many?") %>
        <%end%>
        <% if !@from_home_page%>
          <th> <%= button_tag("Add to basket", type: 'button', offclick: nil, onclick: "javascript:update_answers('#{@user.id}','#{product_base.product_code}','#{product_base.name}')")%>
        <% end%>
      </tr> 
    <%end%> </tbody>
</table>
<br/>
<% if !@from_home_page%>
  <%= link_to "Back", user_path(@user), style: "color:white", class: "btn btn-primary" %>
  <%= link_to "View Basket", user_products_path(@user) + "?from_product_bases=true", style: "color:white", class: "btn btn-primary" %>
<%else%>
  <%= link_to "Back", homes_path, style: "color:white", class: "btn btn-primary" %>
<%end%>
</div>

<script type = "text/javascript"> 
  let update_answers = function(user_id, product_code, product_name) {
    product_quantity = document.getElementById(product_code).value;
    makeRequest(user_id, product_code, product_quantity, product_name);
    console.log(user_id, product_code, product_quantity, product_name);
  }

  // Send request to update the basket of the user
  let makeRequest = function(user_id, product_code, product_quantity, product_name) {
    // Create a new xHTTPRequest here 
    httpRequest = new XMLHttpRequest();
    url_path = "/users/" + user_id + "/update_basket?product_code=" + product_code + "&product_quantity=" + product_quantity;
    httpRequest.open("GET", url_path);
    httpRequest.send();
    httpRequest.onreadystatechange = function() {
      if (httpRequest.status == 200) {
        alert(`You have sucessfully purchased ${product_quantity} ${product_name}`);
      }
    }
  }
</script>