
<div class = "product-base-page">
<h1> Products list </h1>
<table id = "product-base-table">
  <thead>
    <tr style="outline: solid">
      <th>Product code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Details</th>
      <th>Promotion</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>

    <% @product_bases.each do |product_base|%>
      <tr>
        <th> <%= label_tag("Product Code", product_base.product_code, {:id => "product_code"}) %></th>
        <th> <%= label_tag("Name", product_base.name, {:id => "product_name"}) %></th>
        <th> <%= label_tag("Price", product_base.price, {:id => "product_price"}) %></th>
        <th> <%= link_to "Details", user_product_basis_path(user_id: @user.id, id: product_base.id), style: "color:white", class: "btn btn-primary btn-sm" %> </th>
        <% if !product_base.checkout.nil?%>
        <th> <%= link_to product_base.checkout.name, "/users/#{@user.id}/manage/checkouts/#{product_base.checkout.id}", style: "color:white", class: "btn btn-primary btn-sm" %></th>
        <% else%>
        <th> <%= link_to "New Rule", "/users/#{@user.id}/manage/checkouts/#{product_base.id}/new", style: "color:white", class: "btn btn-primary btn-sm" %></th>
        <%end%>
      </tr> 
    <%end%>
  </tbody>
</table>
<br/>
<th> <%= link_to "New Product Base", new_user_product_basis_path(@user), style: "color:white", class: "btn btn-primary btn-sm" %> </th>
<th> <%= link_to "Back", user_path(@user), style: "color:white", class: "btn btn-primary btn-sm" %> </th>
</div>