<h1> New Product Base</h1>

<%= form_for @product_base, :url => "/users/#{@user.id}/product_bases" ,:method => :post  do |f| %>
  <%= f.label "Name"%>
  <%= f.text_field :name %>

  <%= f.label "Product Code"%>
  <%= f.text_field :product_code %>

  <%= f.label "Quantity in Store"%>
  <%= f.text_field :quantity_in_store %>

  <%= f.label "price"%>
  <%= f.text_field :price %>
  <br/>
  <%= f.submit "Create new product base", class: "btn btn-primary" %>
<%end%>
<br/>
<%= button_to "Back", root_path, method: :get, class: "btn btn-primary" %>