<h1> Product Information </h1>
<span> <strong> Product Code: </strong></span>
<%= @product_base.product_code%> <br/>
<span> <strong> Product Name: </strong></span>
<%= @product_base.name%> <br/>
<span> <strong> Product Price: </strong></span>
<%= @product_base.price%> <br/>
<span> <strong> Quantity In Store: </strong></span>
<%= @product_base.quantity_in_store%> <br/>
<br/>
  <%= link_to "Edit", edit_user_product_basis_path(user_id: @user.id, product_base_id: @product_base.id) , style: "color:white", class: "btn btn-primary"%>
<% if @from_home_page%>
  <%= link_to "Back", product_bases_path, style: "color:white", class: "btn btn-primary"%>
<%else%>
  <%= link_to "Back", user_manage_path(@user), style: "color:white", class: "btn btn-primary"%>
<%end%>