<h1>Editing Home</h1>

<%= render 'form', home: @home %>

<%= link_to 'Show', @home, style: 'color:white', class: "btn btn-lg btn-primary" %> |
<%= link_to 'Back', homes_path, style: 'color:white', class: "btn btn-lg btn-primary" %>
