<div class = "center jumbotron">
  <h2> Welcome to the Logivan App </h2>

  <h2>
    <div id = "container"> 
      <span class = "main-button">
          <%=link_to "START SHOPPING", product_bases_path + "?from_homepage=true", method: :get, style: 'color:#FFFFFF;', class: "btn btn-lg btn-primary"%>
          <%=link_to "LOG IN", login_path, method: :get,style: 'color:white', class: "btn btn-lg btn-primary"%>
      </span> 
    </div>
  </h2>
</div>