<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_home_path(@home), style: "color:white", class: "btn btn-primary" %> |
<%= link_to 'Back', homes_path, style: "color:white", class: "btn btn-primary" %>
