<%= form_with(model: checkout, url: user_update_checkout_path(user_id: @user.id),local: true) do |form| %>
  <% if checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(checkout.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="field">
    <%= form.label "name" %>
    <%= form.text_field :name %>
  </span>

  <span class="field">
    <%= form.label "Promotion type" %>
    <%= form.text_field :promotion_type %>
  </span>

  <span class="field">
    <%= form.label "Quantity" %>
    <%= form.text_field :quantity %>
  </span>

  <span class="field">
    <%= form.label "New Price" %>
    <%= form.text_field :new_price %>
  </span>

  <span class="field">
    <%= form.label "New Percentage" %>
    <%= form.text_field :new_percentage %>
  </span>
  <br/>
  <br/>
  <span class="actions">
    <%= form.submit class: "btn btn-primary btn-sm"  %>
  </div>
<% end %>
