<h1> New Promotion Rule</h1>

<%= form_for(@checkout, url: user_manage_checkouts_path(@user.id), method: :post) do |f| %>
  <%= f.label "Rule Name"%>
  <%= f.text_field :name, value: "First Promotion" %>

  <%= f.label "Promotion Type"%>
  <%= f.text_field :promotion_type, value: "quantityBased" %>

  <%= f.label "Product Base id"%>
  <%= f.text_field :product_base_id,  value: 2 %>

  <%= f.label "Quantity"%>
  <%= f.text_field :quantity, value: 2 %>

  <%= f.label "New Price"%>
  <%= f.text_field :new_price, value: 20 %>

  <%= f.label "New Percentage"%>
  <%= f.text_field :new_percentage, value: 20 %>
  <br/>
  <%= f.submit "Create new promotion rule", class: "btn btn-primary" %>
<%end%>
<br/>
<%= button_to "Back", user_manage_path(@user), method: :get, class: "btn btn-primary" %>
