<p> Checkout information </p>
<%= label_tag("Name")%>
<%= label_tag @checkout.name%>
<br/>
<%= label_tag("Promotion Type")%>
<%= label_tag @checkout.promotion_type%>
<br/>
<%= label_tag("Quantity")%>
<%= label_tag @checkout.quantity%>
<br/>

<%= label_tag("New Price")%>
<%= label_tag @checkout.new_price%>
<br/>
<%= label_tag("New Percentage")%>
<%= label_tag @checkout.new_percentage%>
<br/>

<%= link_to "Back", user_manage_path(@user), style: "color:white", class: "btn btn-primary"%>
<%= link_to "Edit", user_edit_checkout_path(user_id: @user,id: @checkout.id), style: "color:white", class: "btn btn-primary"%>