@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center; 
}

.page-title {
  text-align: center;
}

.btn-primary {
  text-color: white;
}
