// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// This should be the main button
.main-button {
  align-content: center;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: white;
}

.btn-primary {
  text-align: center;
  color: white;
}

#main-login {
  text-align: center;
  align-content: center;
}