// Place all the styles related to the product_base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-base-page {
  text-align: center;
}
table#product-base-table {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
th {
  padding: 5px;
}