// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-button {
  align-content: center;
  text-align: center;
  padding: 10px 10px 10px 10px;
  color: white;
}
