<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, style: "color:white", class: "btn btn-sm btn-primary"%> |
<%= link_to 'Back', products_path, style: "color:white", class: "btn btn-sm btn-primary"  %>
