<%=@action_name%>
<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>Product code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Product Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @products.each do |product|%>
      <tr>
        <th> <%= label_tag("Code", product.product_code) %></th>
        <th> <%= label_tag("Name", product.name) %></th>
        <th> <%= label_tag("Price", product.price) %></th>
        <th> <%= link_to "Detail", product_path(product), style: "color:white", class: "btn btn-sm btn-primary"%> </th>
      </tr> 
    <%end%>

  </tbody>
</table>


<%=link_to "Back", homes_path, style: "color:white", class: "btn btn-primary btn-sm"%>
