
<p>
  <strong>Product code:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <p> Before: </p>
  <%= @product.price %>
  <p> After Discount: </p>
  <%= @product.get_price %>
</p>

<% if @user.nil? %>
  <%= link_to "Back", products_path, style: "color:white", class: "btn btn-sm btn-primary" %>
<%else%>
  <%= link_to "Back", user_products_path(@user), style: "color:white", class: "btn btn-sm btn-primary" %>
<%end%>
