<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "navbar navbar-fixed-top navbar-inverse">
      <div class = "container">
        <%= link_to 'Logivan_app', '#', id: "logo"%>
        <nav>
          <ul class = "nav navbar-nav navbar-right">
            <li><%= link_to "HOME", "/", class: "btn-lg"%></li>
            <li><%= link_to "ABOUT", homes_about_path, class: "btn-lg"%></li>
            <li><%= link_to "HELP", homes_help_path, class: "btn-lg"%></li>
            <li><%= link_to "LOG IN", login_path, class: "btn-lg"%></li>
            <li><%= link_to "SIGN UP", new_user_path, class: "btn-lg"%></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class = "container">
      <%= yield %>
    </div>
  </body>
</html>
